<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/python</string>
			<key>Shell Script File</key>
			<string>bettertranslate.py</string>
			<key>Title</key>
			<string>Better Tranlate</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://harmy.github.io</string>
			<key>Name</key>
			<string>harmy</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Translate selected text instantly using google translate.</string>
	<key>Extension Identifier</key>
	<string>com.popclip.extension.bettertranslate</string>
	<key>Extension Name</key>
	<string>Better Translate</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>destlang</string>
			<key>Option Label</key>
			<string>Destination Language</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>af</string>
				<string>sq</string>
				<string>ar</string>
				<string>hy</string>
				<string>az</string>
				<string>eu</string>
				<string>be</string>
				<string>bn</string>
				<string>bs</string>
				<string>bg</string>
				<string>ca</string>
				<string>ceb</string>
				<string>zh-CN</string>
				<string>zh-TW</string>
				<string>hr</string>
				<string>cs</string>
				<string>da</string>
				<string>nl</string>
				<string>en</string>
				<string>eo</string>
				<string>et</string>
				<string>tl</string>
				<string>fi</string>
				<string>fr</string>
				<string>gl</string>
				<string>ka</string>
				<string>de</string>
				<string>el</string>
				<string>gu</string>
				<string>ht</string>
				<string>ha</string>
				<string>iw</string>
				<string>hi</string>
				<string>hmn</string>
				<string>hu</string>
				<string>is</string>
				<string>ig</string>
				<string>id</string>
				<string>ga</string>
				<string>it</string>
				<string>ja</string>
				<string>jw</string>
				<string>kn</string>
				<string>km</string>
				<string>ko</string>
				<string>lo</string>
				<string>la</string>
				<string>lv</string>
				<string>lt</string>
				<string>mk</string>
				<string>ms</string>
				<string>mt</string>
				<string>mi</string>
				<string>mr</string>
				<string>mn</string>
				<string>ne</string>
				<string>no</string>
				<string>fa</string>
				<string>pl</string>
				<string>pt</string>
				<string>pa</string>
				<string>ro</string>
				<string>ru</string>
				<string>sr</string>
				<string>sk</string>
				<string>sl</string>
				<string>so</string>
				<string>es</string>
				<string>sw</string>
				<string>sv</string>
				<string>ta</string>
				<string>te</string>
				<string>th</string>
				<string>tr</string>
				<string>uk</string>
				<string>ur</string>
				<string>vi</string>
				<string>cy</string>
				<string>yi</string>
				<string>yo</string>
				<string>zu</string>
			</array>
			<key>Option Default Value</key>
			<string>zh-CN</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>tts</string>
			<key>Option Label</key>
			<string>Text To Speech</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>disabled</string>
				<string>system</string>
				<string>google</string>
			</array>
			<key>Option Default Value</key>
			<string>disabled</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
